  .footer {
  background: rgb(36, 36, 36);
  bottom: -5px;
}

.footer ul li {
  margin: 10px;
}

.footer-top {
  margin: 40px 0 0 0;
}

.footer-more,
.footer-sitemap,
.footer-partner {
  width: 33%;
}


.footer-bottom {
  margin: 200px 0 0 0;
}

.footer-bottom::before {
  height: 2px;
  display: block;
  width: 100%;
  background: #ffffff;
  content: "";
}
